services:
  auth-db:
    extends:
      file: docker-compose.base.yml
      service: auth-db
    container_name: auth-db-dev
    volumes:
      - auth_db_data:/var/lib/postgresql
    networks:
      - auth-net

  auth:
    extends:
      file: docker-compose.base.yml
      service: auth
    container_name: auth-dev
    ports:
      - "${SERVICE_PORT:-8000}:${SERVICE_PORT:-8000}"
    volumes:
      - ./app:/app/app
    networks:
      - auth-net

networks:
  auth-net:
    driver: bridge

volumes:
  auth_db_data:
